@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root{
    --clr-accent: #d9964a; 
    --clr-blue: #0b5089;
    --clr-dark: #2b2b2b;
    --clr-light: #ffffff;
    --clr-border: #f9e9d7; 
    --clr-gray: #666666;
    --font-primary: "Mulish", sans-serif;
    --font-secondary: "Playfair Display", serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-light);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
/*------------------------Container---------------------*/
 
/* HEADER */
.header{
    background-color: var(--clr-light);
    padding: 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.header .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper h1{
    font-size: xx-large;
    color: var(--clr-gray);
    font-weight: bold;
}
@media screen and (max-width: 520px){
    .header__wrapper h1{
        font-size: large;
        color: var(--clr-gray);
        font-weight: bold;
    }
}

/* BANNER */
.banner{
    background-color: var(--clr-border);
    padding-top: 20rem;
    padding-bottom: 10rem;  
}
.banner .banner__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner__wrapper .banner__left{
    max-width: 50%;
}
.banner .banner__wrapper .banner__right{
    max-width: 50%;
}
.banner__left h2{
    font-size: 2rem;
    color: var(--clr-accent);
    letter-spacing: 1rem;
}
.banner__left h1{
    font-size: 6rem;
    color: var(--clr-gray);
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
}
.banner__left p{
    color: var(--clr-gray);
    margin-bottom: 4rem;
    margin-right: 4rem;
}
@media screen and (max-width: 520px){
    .banner .banner__wrapper{
        flex-direction: column;
        
    }
    .banner .banner__wrapper .banner__left{
        max-width: 100%;
    }
    .banner__right{
        display: none;
    }
    .banner__left h1{
        font-size: 4rem;
        color: var(--clr-gray);
        font-family: var(--font-secondary);
        margin-bottom: 2rem;
    }
    
}

/* RECIPE OF THE WEEK */
.week{
    padding-top: 5rem;
}
.week .week__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.week__title{
    font-size: 2rem;
    color: var(--clr-accent);
    font-family: var(--font-secondary);
    text-align: center;
    margin: 4rem;
}
.week__title::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 57rem;
    height: .2rem;
    bottom: .5rem;
    right: 2rem;
}
.week__title::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 57rem;
    height: .2rem;
    bottom: .5rem;
    left: 2rem;
}
.week__cards h2{
    color: var(--clr-accent);
    text-align: center;
    margin: 2rem;
    letter-spacing: 2rem;
}
.week__cards h3{
    font-family: var(--font-secondary);
    color: var(--clr-gray);
    text-align: center;
    margin-bottom: 1rem;
}
.week__cards p{
    color: var(--clr-gray);
    text-align: justify;
}
@media screen and (max-width: 520px){
    .week__title::before{
        display: none;
    }
    .week__title::after{
       display: none;
    }
    .week .week__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

/* RECIPE COLLECTION */
.collection{
   padding: 5rem; 
   max-width: 150rem;
   margin: 0 auto;
}
.collection .collection__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.collection__wrapper:nth-child(odd){
  display: flex;
  flex-direction: row-reverse;
}
.collection__title{
    font-size: 2rem;
    color: var(--clr-accent);
    font-family: var(--font-secondary);
}
.collection__title::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 120rem;
    height: .2rem;
    bottom: .5rem;
    left: 3rem;
}
.collection__details h2{
    color: var(--clr-accent);
    letter-spacing: 1rem;
}
.collection__details h3{
    font-family: var(--font-secondary);
    font-size: 3rem;
    color: var(--clr-gray);
}
.collection__details p{
    color: var(--clr-gray);
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 520px){
    .collection__title::after{
        display: none;
    }
    .collection__title{
        font-size: 2rem;
        color: var(--clr-accent);
        font-family: var(--font-secondary);
        text-align: center;
    }
    .collection .collection__wrapper{
        flex-direction: row;
      }

    
}

/* SEARCH */
.search{
    padding-bottom: 8rem;
    background-image: linear-gradient(rgba(43, 16, 16, 0.4), rgba(143, 115, 115, 0.664)), url(./img/classic5.jpg);
    background-size: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}
.search__title h2{
    font-size: 4rem;
    font-family: var(--font-secondary);
    margin-top: 5rem;
    margin-bottom: 3rem;
    align-items: center;
}
input{
    font-size: 1.9rem;
    padding: .9rem;
    border: none;
    margin-bottom: 3rem;
    outline: none;
    opacity: 50%;
    margin-right: -.4rem;
}
.search__title p{
    margin-bottom: 3rem;
}


/* CLASSIC COLLECTION */
.classic{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.classic .classic__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.classic__title{
    font-size: 2rem;
    color: var(--clr-accent);
    font-family: var(--font-secondary);
    margin-bottom: 4rem;
}
.classic__title::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 120rem;
    height: .2rem;
    bottom: .5rem;
    left: 3rem;
}
.classic__wrapper .classic__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.classic__details h2{
    color: var(--clr-accent);
    font-size: 2rem;
    letter-spacing: 1rem;
}
.classic__details h3{
    color: var(--clr-gray);
    font-family: var(--font-secondary);
}
.classic__details{
    margin: 2rem;
}
.ratings{
    color: var(--clr-accent);
    margin-bottom: 1rem;
}
.classic__details h4{
    color: var(--clr-gray);
    font-size: 1.5rem;
}

/* FOOTER */
.recipefooter{
  padding: 3rem 0;
  background-color: var(--clr-border);
  color: var(--clr-gray);
}
.recipefooter .recipefooter__wrapper{
   text-align: center;
}
.recipefooter__title{
    font-size: 2rem;
    font-weight: bold;
}
.recipefooter__contact{
    display: flex;
    justify-content: center;
}
.recipefooter__contact p{
    margin: 1rem;
}


/* ---------------------------------------GUIDE PAGE----------------------- */
.guidebanner{
    background-color: var(--clr-light);
    padding-top: 20rem;
    padding-bottom: 20rem;
    position: relative;
    z-index: 999;
}
.guidebanner small{
    top: 0;
    background-color: var(--clr-border);
    height: 50%;
    /* display: block; */
    width: 100%;
    z-index: -999;
    overflow: hidden;
    position: absolute;
}
.guidebanner__title h1{
    font-size: 4rem;
    color: var(--clr-gray);
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
    width: 50rem;
}
.guidebanner__title p{
    color: var(--clr-gray);
    margin-top: 8rem;
}
.guidebanner__title{
    display: flex;
    justify-content: space-between;
}
.guidebanner__cook span:nth-child():before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-gray);
    width: 140rem;
    height: .2rem;
    bottom: .5rem;   
}
.guidebanner__cook ul{
    display: flex;
    justify-content: space-between;
    color: var(--clr-gray);
}
span:after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-gray);
    width: 140rem;
    height: .2rem;
    bottom: .5rem;   
}
ul li, p{
 display: flex;
}

/* ---------------------------------REPEATABLE PATTERNS--------------------  */
.btn{
    background: transparent;
    border: transparent;
    padding: 1rem 2rem;
    color: transparent;
    font-weight: 700;
  }
  .btn.bg--accent{
    background-color: var(--clr-accent);
    color: var(--clr-light);
  }
  .btn.bg--accent:hover{
    background-color: var(--clr-gray);
    color: var(--clr-semilight);
  }
